@import 'primeicons/primeicons.css';
@import 'primevue/resources/themes/lara-light-purple/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.min.css';

/* Custom Font Installation */
@font-face {
    font-family : 'Quicksand';
    src : url("/public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf"), url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');;
    font-display:swap;
}
@font-face {
    font-family : 'Poppins';
    font-weight: normal;
    src : url("/public/fonts/Poppins/Poppins-Regular.ttf");
    font-display:swap;
}
@font-face {
    font-family : 'Poppins';
    font-weight: bold;
    src : url("/public/fonts/Poppins/Poppins-Bold.ttf");
    font-display:swap;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

.home-header{
    font-family : 'Poppins';
}
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #4645454b;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8a8a8ae0;
}

